<div class="input-group date form_date col-md-1" data-date="" data-date-format="dd MM yyyy" data-link-field="dtp_input2" data-link-format="yyyy-mm-dd">
  <%= text_field_data %>
  <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
</div>