/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 *= require_tree ./bootstrap
 */

.panel-table .row-div .col-div:nth-child(even){
	background-color: #bbbbbb;
}
.panel-table .row-div .col-div:nth-child(odd){
	background-color: #dfdfdf;
}
.panel-table .row-div .col-div:first-child {
	background-color: #337AB7;
	color: #ffffff;
}
.sort_link {
	color: #ffffff;
}
.panel-table {
	display:table;
	width:auto;
	border-spacing:5px;
}
.panel-table .row-div {
	display:table-row;
	width:auto;
	clear:both;
}
.col-div {
	display:table-cell;
}
/* scroll css  start */
.panel-table {
	border-collapse:separate;
}
.col-div {
	margin:0;
	white-space:nowrap;
}
.scroll-div, .wmd-view-topscroll, .wrapper1 {
	overflow-x:scroll;
	margin-left:12em;
	overflow-y:visible;
}
.headcol {
	position:absolute;
	width:13.5em;
	left:0;
	top:auto;
	margin-top:-15px; /*compensate for top border*/
}
/* scroll css end */

.wrapper1, .div1 { height: 20px; }

.add-border {
  border: 2px solid lavender;
}